@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --primary-color: #87BCDE;
    --secondary-color: #533747;
    --accent1-color: #73683B;
    --accent2-color: #E2C044;
    --heading-font: "Jost", Arial, sans-serif;
    --paragraph-font: "Roboto Condensed", Arial, sans-serif;
    --headline-color-on-white: #87BCDE;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #87BCDE;
    --paragraph-color-on-color: white;
    --paragraph-background-color: #87BCDE;
    --nav-link-color: #87BCDE;
    --nav-background-color: #533747;
    --nav-hover-link-color: #E2C044;
    --nav-hover-background-color: #396E94;
}

body {
    background-color: #fcfbfb; /* Light shade of white */
    font-family: var(--paragraph-font); /* Roboto Condensed */
    font-size: 22px; /* Increase default font size */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

#container {
    max-width: 1600px; /* or any desired maximum width */
    margin: 0 auto; /* centers the container */
}

header {
    background-color: rgba(20, 30, 13, 0.7); /* Semi-transparent dark color */
}

#logo_link {
    padding-top: 5px;
}

nav a {
    color: var(--nav-link-color); /* 87BCDE */
    background-color: var(--nav-background-color); /* 533747 */
    text-decoration: none; /* Remove underline */
    text-align: center;
    padding: 35px; /* Add padding */
}

nav a:hover {
    background-color: var(--nav-hover-background-color); /* 396E94 */
    color: var(--nav-hover-link-color); /* E2C044 */
    text-decoration: underline; /* Add underline on hover */
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box; /* Add box-sizing */
}

.home-title {
    color: var(--headline-color-on-color); /* white */
    font-family: var(--heading-font); /* Jost */
    font-size: 2em; /* Twice the default font size */
    margin-top: 10px; /* Add margin */
}

h4 {
    color: var(--headline-color-on-color); /* white */
}

.book, .join {
    background-color: var(--primary-color); /* 87BCDE */
    color: var(--headline-color-on-color); /* white */
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Set font size to 18px */
    padding: 15px 30px; /* Add padding */
    margin-top: 50px; /* Add margin */
    border-radius: 5px; /* Add border-radius */
}

.book:hover, .join:hover {
    background-color: var(--secondary-color); /* 533747 */
    color: var(--headline-color-on-color); /* white */
    text-decoration: underline; /* Add underline on hover */
}

.card-img {
    border: 10px solid var(--primary-color); /* Add border */
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0; /* Add margin */
}

.icon {
    padding-top: 10px; /* Add padding */
}

#background {
    background-color: var(--accent1-color); /* 73683B */
    height: 725px;
}

.msg {
    background-color: var(--primary-color); /* 87BCDE */
    line-height: 1.5em; /* Increase line height */
    padding: 35px; /* Add padding */
}

.msg h2 {
    color: var(--headline-color-on-color); /* white */
    font-family: var(--heading-font); /* Jost */
    margin: 0; /* Reset margin */
}

.msg p {
    color: var(--paragraph-color-on-color); /* white */
    font-size: 0.8em; /* Set font size to 0.8em */
    padding-bottom: 15px; /* Add padding */
}

footer {
    background-color: var(--secondary-color); /* 533747 */
    color: var(--headline-color-on-color); /* white */
    padding: 25px 50px; /* Add padding */
    margin-top: 200px; /* Add margin */
}

footer a {
    color: var(--headline-color-on-color); /* white */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    color: var(--nav-hover-link-color); /* E2C044 */
    text-decoration: underline; /* Add underline on hover */
}

footer .social img {
    padding-top: 15px; /* Add padding */
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}
